<div>
    <h2>
        <span jhiTranslate="baseApp.userExtra.home.title">User Extras</span>
        <button class="btn btn-primary float-right jh-create-entity create-user-extra" [routerLink]="['/', { outlets: { popup: ['user-extra-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="baseApp.userExtra.home.createLabel">
            Create new User Extra
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'baseApp.userExtra.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userExtras">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="baseApp.userExtra.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="designation"><span jhiTranslate="baseApp.userExtra.designation">Designation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contactMobile"><span jhiTranslate="baseApp.userExtra.contactMobile">Contact Mobile</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contactWork"><span jhiTranslate="baseApp.userExtra.contactWork">Contact Work</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contactOther"><span jhiTranslate="baseApp.userExtra.contactOther">Contact Other</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="baseApp.userExtra.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="baseApp.userExtra.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedBy"><span jhiTranslate="baseApp.userExtra.lastModifiedBy">Last Modified By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedDate"><span jhiTranslate="baseApp.userExtra.lastModifiedDate">Last Modified Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="user.login"><span jhiTranslate="baseApp.userExtra.user">User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userExtra of userExtras ;trackBy: trackId">
                <td><a [routerLink]="['../user-extra', userExtra.id ]">{{userExtra.id}}</a></td>
                <td>{{userExtra.name}}</td>
                <td>{{userExtra.designation}}</td>
                <td>{{userExtra.contactMobile}}</td>
                <td>{{userExtra.contactWork}}</td>
                <td>{{userExtra.contactOther}}</td>
                <td>{{userExtra.createdBy}}</td>
                <td>{{userExtra.createdDate | date:'medium'}}</td>
                <td>{{userExtra.lastModifiedBy}}</td>
                <td>{{userExtra.lastModifiedDate | date:'medium'}}</td>
                <td>
                    {{userExtra.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-extra', userExtra.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-extra/'+ userExtra.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-extra/'+ userExtra.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="userExtras && userExtras.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
