<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

        <div class="modal-header">
            <h4 class="modal-title" id="myRoleExtraLabel" jhiTranslate="baseApp.roleExtra.home.createOrEditLabel">Create or edit a Role Extra</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="clear()">&times;</button>
        </div>
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="baseApp.roleExtra.name" for="field_name">Name</label>
                <input type="text" class="form-control" name="name" id="field_name"
                    [(ngModel)]="roleExtra.name" required maxlength="50" />
                <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                       This field is required.
                    </small>
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                       This field cannot be longer than 50 characters.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="baseApp.roleExtra.description" for="field_description">Description</label>
                <textarea class="form-control" name="address" id="field_address" required
                    [(ngModel)]="roleExtra.description" maxlength="500" rows="5">
                </textarea>
                <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                       This field is required.
                    </small>
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 500 }">
                       This field cannot be longer than 500 characters.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label jhiTranslate="baseApp.roleExtra.permissions" for="field_permissions">Permissions</label>
                <jhi-tree-view [nodes]="nodes" [showCheckedBox]="showCheckedBox" class="form-control"></jhi-tree-view>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </form>
    