<form name="editForm" role="form" novalidate #editForm="ngForm">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="baseApp.reportDefinition.enterQueryLabel">Enter your SQL
                    query :</label>
                <br />
                <textarea #trailerQuery id="trailerQuery_box" name="trailerQuery" cols="100" rows="20" maxlength="10000"
                    (keyup)="resize(trailerQuery, $event.target.value)" [(ngModel)]="reportDefinition.trailerQuery"
                    [disabled]="!isEdit"></textarea>
                <div [hidden]="!(editForm.controls.trailerQuery?.dirty && editForm.controls.trailerQuery?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.trailerQuery?.errors?.maxlength"
                        jhiTranslate="entity.validation.maxlength" translateValues="{ max: 5000 }">
                        This field cannot be longer than 5000 characters.
                    </small>
                </div>
            </div>
        </div>
    </div>
</form>