<form name="editForm" role="form" novalidate #editForm="ngForm">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="baseApp.reportDefinition.nameLabel"
                    for="field_name">File Name</label>
                <input type="text" class="form-control" name="name" id="field_name" required maxlength="100"
                    [(ngModel)]="reportDefinition.name" (keyup)="valueChange()" />
                <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.required"
                        jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                    <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.maxlength"
                        jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="baseApp.reportDefinition.descriptionLabel"
                    for="field_description">Description</label>
                <input type="text" class="form-control" name="description" id="field_description" required
                    maxlength="255" [(ngModel)]="reportDefinition.description" (keyup)="valueChange()" />
                <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.description?.errors?.required"
                        jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                    <small class="form-text text-danger" [hidden]="!editForm.controls.description?.errors?.maxlength"
                        jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="baseApp.reportDefinition.categoryLabel"
                    for="field_category">Category</label>
                <select class="form-control" id="field_category" name="category"
                    [(ngModel)]="reportDefinition.reportCategory" (change)="selectReportCategory()" required>
                    <option
                        [ngValue]="reportCategory?.id === reportDefinition?.reportCategory?.id ? reportDefinition.reportCategory : reportCategory"
                        *ngFor="let reportCategory of reportCategoryList">
                        {{reportCategory.name}}</option>
                </select>
            </div>
            <div [hidden]="!(editForm.controls.reportCategory?.dirty && editForm.controls.reportCategory?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.reportCategory?.errors?.required"
                    jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="baseApp.reportDefinition.fileNamePrefixLabel"
                    for="field_fileNamePrefix">File Name Prefix</label>
                <input type="text" class="form-control" name="fileNamePrefix" id="field_fileNamePrefix" required
                    maxlength="100" [(ngModel)]="reportDefinition.fileNamePrefix" (keyup)="valueChange()" />
                <div [hidden]="!(editForm.controls.fileNamePrefix?.dirty && editForm.controls.fileNamePrefix?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.fileNamePrefix?.errors?.required"
                        jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                    <small class="form-text text-danger" [hidden]="!editForm.controls.fileNamePrefix?.errors?.maxlength"
                        jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                    </small>
                </div>
            </div>
            <div class="form-group form-check custom-checkbox-inline">
                <label class="form-control-label" jhiTranslate="baseApp.reportDefinition.fileFormatLabel"
                    for="field_fileFormat" required>File Format</label>
                <br />
                <input type="checkbox" name="pdf" id="field_pdf" [(ngModel)]="pdfFormat" (click)="valueChange()" />
                <label class="form-control-label" jhiTranslate="baseApp.reportDefinition.pdfLabel"
                    for="field_pdf">PDF</label>
                <input type="checkbox" name="csv" id="field_csv" [(ngModel)]="csvFormat" (click)="valueChange()" />
                <label class="form-control-label" jhiTranslate="baseApp.reportDefinition.csvLabel"
                    for="field_csv">CSV</label>
                <input type="checkbox" name="txt" id="field_txt" [(ngModel)]="txtFormat" (click)="valueChange()" />
                <label class="form-control-label" jhiTranslate="baseApp.reportDefinition.txtLabel"
                    for="field_txt">TXT</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group form-check custom-checkbox-inline">
                <label class="form-control-label" jhiTranslate="baseApp.reportDefinition.frequencyLabel"
                    for="field_frequency" required>Frequency</label>
                <br />
                <input type="checkbox" name="daily" id="field_daily" [(ngModel)]="daily" (click)="valueChange()" />
                <label class="form-control-label" jhiTranslate="baseApp.reportDefinition.dailyLabel"
                    for="field_pdf">Daily</label>
                <!--
                <input type="checkbox" name="weekly" id="field_weekly" [(ngModel)]="weekly" (click)="valueChange()" />
                <label class="form-control-label" jhiTranslate="baseApp.reportDefinition.weeklyLabel"
                    for="field_csv">Weekly</label>
                -->
                <input type="checkbox" name="monthly" id="field_monthly" [(ngModel)]="monthly"
                    (click)="valueChange()" />
                <label class="form-control-label" jhiTranslate="baseApp.reportDefinition.monthlyLabel"
                    for="field_txt">Monthly</label>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="baseApp.reportDefinition.processingClassLabel"
                    for="field_processingClass">Processing Class</label>
                <input type="text" class="form-control" name="processingClass" id="field_processingClass"
                    maxlength="255" [(ngModel)]="reportDefinition.processingClass" (keyup)="valueChange()" />
                <div
                    [hidden]="!(editForm.controls.processingClass?.dirty && editForm.controls.processingClass?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.processingClass?.errors?.maxlength"
                        jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="baseApp.reportDefinition.fileOutputLocationLabel"
                    for="field_fileLocation">File Output Location</label>
                <input type="text" [disabled]="true" class="form-control" name="fileLocation" id="field_fileLocation" maxlength="255"
                    [(ngModel)]="reportDefinition.fileLocation" (keyup)="valueChange()" />
                <div [hidden]="!(editForm.controls.fileLocation?.dirty && editForm.controls.fileLocation?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.fileLocation?.errors?.maxlength"
                        jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="baseApp.reportDefinition.branchFlagLabel"
                    for="field_branchFlag">Branch Flag</label>
                <select class="form-control" id="field_branchFlag" name="branchFlag"
                    [ngModel]="reportDefinition.branchFlag" (ngModelChange)="selectBranchFlag($event)" required>
                    <option>branch</option>
                    <option>master</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="baseApp.reportDefinition.scheduleTimeLabel"
                    for="field_scheduleTime">Schedule Time</label>
                <div *ngIf="scheduleFlag">
                    <ngb-timepicker  meridian="true" name="schedule" id="field_schedule"
                      [ngModel]="time" (ngModelChange)="saveScheduleTime($event)"></ngb-timepicker>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="baseApp.reportDefinition.institutionLabel"
                    for="field_institution">Institution</label>
                <select class="form-control" id="field_institution" name="institution"
                    [ngModel]="institutions" (ngModelChange)="selectInstitutionId($event)" required>
                    <option
                        [ngValue]="institution" *ngFor="let institution of institutions">
                        {{institution.name}}</option>
                </select>
            </div>
        </div>
    </div>
</form>
