<nav class="navbar navbar-dark navbar-expand-md jh-navbar">
    <div class="jh-logo-container float-left">
        <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation" (click)="toggleNavbar()">
            <i class="fa fa-bars"></i>
        </a>
        <a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
            <span class="logo-img"></span>
            <span jhiTranslate="global.title" class="navbar-title">Reporting Portal</span> <span
                class="navbar-version">{{version}}</span>
        </a>
    </div>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed"
        [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>
            <li *ngIf="isMenuEnabled('MENU:AppAdmin')" ngbDropdown class="nav-item dropdown pointer"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="app-admin-menu">
                    <span>
                        <!-- <i class="fa fa-th-list" aria-hidden="true"></i> -->
                        <span jhiTranslate="global.menu.appAdmin.main">
                            App Admin
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngIf="isMenuEnabled('MENU:Institution')">
                        <a class="dropdown-item" routerLink="app-admin-institution" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.appAdmin.institution">Institution</span>
                        </a>
                    </li>
                    <li *ngIf="isMenuEnabled('MENU:UserRole')">
                        <a class="dropdown-item" routerLink="app-admin-role" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.appAdmin.userRole">User Role</span>
                        </a>
                    </li>
                    <li *ngIf="isMenuEnabled('MENU:User')">
                        <a class="dropdown-item" routerLink="app-admin-user" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.appAdmin.user">User</span>
                        </a>
                    </li>
                    <li *ngIf="isMenuEnabled('MENU:SystemConfiguration')">
                        <a class="dropdown-item" routerLink="app-admin-system-configuration" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.appAdmin.systemConfiguration">System Configuration</span>
                        </a>
                    </li>
                    <li *ngIf="isMenuEnabled('MENU:EntityAudit')">
                        <a class="dropdown-item" routerLink="entity-audit" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;
                            <span jhiTranslate="global.menu.admin.entity-audit">Entity Audit</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="user-extra" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.userExtra">User Extra</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="role-extra" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.roleExtra">Role Extra</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="app-resource" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.appResource">App Resource</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="system-configuration" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.systemConfiguration">System Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="institution" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.institution">Institution</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="attachment-group" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.attachmentGroup">Attachment Group</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="attachment" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.attachment">Attachment</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="user-management" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-metrics" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-health" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-heart" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-configuration" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-cog" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="audits" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-bell" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="logs" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-tasks" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="elasticsearch-reindex" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-search" aria-hidden="true"></i>&nbsp;
                            <span jhiTranslate="global.menu.admin.elasticsearch-reindex">Elasticsearch Reindex</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                </ul>
            </li>
            <!-- <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="dashboard" (click)="collapseNavbar()">
                    <span>
                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                        <span jhiTranslate="baseApp.dashboard.title">Dashboard</span>
                    </span>
                </a>
            </li> -->
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"
                    id="report-configuration-menu">
                    <span>
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                        <span jhiTranslate="baseApp.reportCategory.mainTitle">Report Configuration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="report-configuration-category" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="baseApp.reportCategory.title">Report Category</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="report-configuration-definition" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="baseApp.reportDefinition.title">Report Definition</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="operation-menu">
                    <span>
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.operation.main">Operation</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                	<li *ngIf="isMenuEnabled('MENU:GenerateReport')">
                        <a class="dropdown-item" routerLink="generate-report" routerLinkActive="active" 
                            [routerLinkActiveOptions]="{exact: true}" (click)="collapseNavbar()">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            <span jhiTranslate="baseApp.reportGeneration.title">Generate Report</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="job" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-list-alt" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.jobManagement">Jobs Management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="task-group" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-list-alt" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.taskGroupsManagement">Task Groups Management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="task" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-list" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.tasksManagement">Tasks Management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="database-synchronization" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-refresh" aria-hidden="true"></i>
                            <span jhiTranslate="baseApp.databaseSynchronization.title">Database Synchronization</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--
            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages && isLanguageSelection">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"
                    id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                    <span>
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);"
                            (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            -->
            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="isAuthenticated()">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"
                    id="institutionsnavBarDropdown" *ngIf="selectedInstitution">
                    <span>{{selectedInstitution.name}}
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <input type="text" class="form-control institution-filter" (click)="onFilter()" #filter
                        (keyup)="onKeyup(filter.value)" />
                    <ul class="institution-filter-list" *ngIf="allInstitutions?.length > 1">
                        <li *ngFor="let institution of institutions">
                            <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);"
                                (click)="changeInstitution(institution.id);collapseNavbar();">
                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                <span class="word-wrap">{{institution?.name}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                    <span *ngIf="!getImageUrl()" [ngSwitch]="isAuthenticated()">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span *ngSwitchCase="true">{{account.login}}</span>
                        <span jhiTranslate="global.menu.account.main" *ngSwitchCase="false">Account</span>
                    </span>
                    <span *ngIf="getImageUrl()">
                        <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a *ngIf="isSelfRegistration" class="dropdown-item" routerLink="register"
                            routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user-plus" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>